* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body {
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    width:1190px;
    margin: 0px auto;
}
.wrapper {
    background: #ecebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.search {
    display: flex;

}

#inputValue {
    padding: 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    width: 400px;
}

#btn {
    padding: 20px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: white;
    background-color: orangered;
    outline: none;
    border: none;
    cursor: pointer;
}




.wrap-infor {
    display: flex;
    margin-top: 30px ;
    padding: 30px 0px;
  
    border-radius: 4px;
}
.border{
    border: 1px dashed orangered;
}
.wrap-infor img{
    width: 360px;
    height: 220px;
    padding: 20px;
    object-fit: cover;
}
.wrap-infor .infor-contents{
    padding:0px 10px;
}
.wrap-infor .infor-contents .title{
    padding:30px ;
}
.wrap-infor .infor-contents a#btn-download{
padding:10px 25px;
text-decoration: none;
background: orangered;
color:white;
margin-top: 20px;
margin-left: 30px;
}

@media screen and (max-width: 600px) {
    #inputValue{
        width:225px;
    }
    #btn{
        margin-left:20px;
    }
    .wrap-infor{
        flex-direction: column;
    }
    .wrap-infor .infor-contents .title {
        width:30%;
    }
}